<h5> ABOUT US </h5>
		<div id = "about_us">
			<div id="about_image">
		  		<img src = "images/Pokemon_API.png"	width= "150" height= "150">
		  	</div>

		  	<div id = "info"> 
		  		<p>
		  			The Pokédex is a digital encyclopedia created by Professor Oak as an invaluable tool to Trainers in the Pokémon world. It gives information about all Pokémon in the world that are contained in its database. With this web app, we are giving you the power to become a trainer and access an amazing Pokédex!
		  		</p>
		  	</div>
		</div>