<h5> CONTACT US </h5>
	<div id = "about_us">
	<div id = "info2"> 
		  		<p class = "contact">
		  			This contact page is currently in the works. We suggest you come back in the near future! For now, save your thoughts and become the Pokemon master you have always wanted to be with our PokeDex. We have your back, future trainer! No doubt!
		  		</p>
		  	</div>
	</div>