<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> PokeDex</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link href= "/CSS/style.css" type= "text/css" 
		rel= "stylesheet">
</head>

<body>
	
	<nav>
		<div id= "logo">
			<img src= "/images/Pokemon_API.png" width= "150" height= "150">
		</div>
		<div id= "navigation">
			<div>
				<a class= "links" href="/">HOME</a>
			</div>

			<div>
				<a class= "links" href="/about">ABOUT US</a>
			</div>

			<div>
				<a class= "links" href="/login">LOGIN</a>
			</div>
		</div> 
	</nav>

	<div id = "main_body"> 
	{{{body}}}
</div>

	<div id="footer"> 
			<div id="footerleft">
				<p class = "footer">&#169; Pokédex 2.0 </p>
			</div> 
			<div id="footerright"> 
					<a href="https://www.facebook.com">
					<img class="footnav" src= "/images/facebook.png" width= "40px" height= "40px"></a>

					<a href="https://tumblr.com"><img class="footnav" src= "/images/tumblr.png" width= "40px" height= "40px"></a> 

					<a href="http://instagram.com"><img class="footnav" src= "/images/instagram.png" width= "40px" height= "40px"></a> 
			</div> 
	</div>




</body>
</html>