<div id = "team_main">
	<h4> Add a Pokemon to your team!</h4>
		<form id = "search" action="/team/{{user.id}}" method="POST">
			<input type ="text" name = "name" placeholder = "Pokemon Name">
			<input type="submit" class = "activate-modal">
		</form>
</div>

	<div id = "team-display">	
			{{#each team}}
			<li>
				<img src = "{{src}}">
			</li>
			{{/each}}
				<br />
		<!-- 	{{#each team}}
				<li id = "names">
				{{name}}
				</li>
			{{/each}} -->
	</div>


